
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Publications</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% url 'all_articles' as the_url %}
        <li class="nav-item {% if request.path == the_url %}active{% endif %}">
          <a class="nav-link" href="{% url 'all_articles' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/authors/' %}active{% endif %}">
          <a class="nav-link" href="/authors">Авторы</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Добавить
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/authors/new">Автора</a>
            <a class="dropdown-item" href="/articles/new">Публикацию</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
