{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name = "viewport" content = "width=decive-width, initial-scale=1.0">
  <meta http-equiv="default-style" content="ie=edge">
  <title>Заголовок</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
  {% include "navbar.html" %}

  {% block content %}
  {% endblock %}


</body>
</html>
