<div class="container">
  Hey, are you sure you want to delete {{ object.title }}?
  <form method="post">
    <div class="form-group">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Yeap, I'm sure.</button>
    </div>
  </form>
</div>
