{% extends "wrapper.html" %}

{% block content %}
<div class="container">
  <form action="" method="post">{% csrf_token %}
    <div class="form-group">
      <label>Заголовок</label>
      <input type="text" name="title" class="form-control" id="id_title"
       {% if form.title.value != None %}value="{{ form.title.value|stringformat:'s' }}"{% endif %}>
    </div>
    <div class="form-group">
      <label>Текст</label>
      <textarea type="text" name="metainfo" class="form-control" id="id_metainfo" rows="5">{% if form.metainfo.value != None %}{{ form.metainfo.value|stringformat:'s' }}{% endif %}</textarea>
    </div>
    <div class="form-group">
      {{form.authors}}
    </div>
    {% if article %}
    <div class="form-group">
      <button type="button" class="btn btn-light json" style="margin-top:15px">Добавить поле</button>
    </div>
    {% endif %}
    <div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>
</div>
<script>

  $(document).ready(function(){
    $('.json').on('click', function(){
      new_field = $('.json')
      data = {
        article_id: '{{article.id}}'
      }

      $.ajax({
        type: "GET",
        url: "{% url 'json_update' %}",
        data: data,
        dataType: 'json',
        success: function(data){
          console.log(data)
          id = ($('.new-param').length+1)
          new_field.before("<div class='form-inline'><input type='text' name='param"+id+"name' class='form-control' id='id_param"+id+"name' value='Новое поле'><input type='text' name='param"+id+"' class='form-control new-param' id='id_param"+id+"' value="+($('.new-param').length+1)+"></div><br/>")
        }
      })
    })
  })

</script>
{% endblock %}
