{% extends "wrapper.html" %}
{% load staticfiles %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
      <div class="row">
          <!-- Blog Post Content Column -->
          <div class="col-lg-8">
            <!-- Blog Post -->
              <!-- Title -->
              <h1>{{article.title}}</h1>

              <!-- Author -->
              {% for author in article.authors.all %}
                {% if author == article.authors.first %}
                  by <a href="/authors/{{author.id}}">{{author}}</a>
                {% else %}
                  , <a href="/authors/{{author.id}}">{{author}}</a>
                {% endif %}
              {% empty %}
                author not specified
              {% endfor %}

              <p><a href="/articles/{{article.id}}/update">Редактировать<a></p>
              <p><a href="{% url 'delete_article' pk=article.id %}">Удалить<a></p>

              <hr>
              <!-- Date/Time -->
              <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.date|date:"M d, Y \a\t H:i"}}</p>
              <hr>
              <!-- Preview Image -->
              <img class="img-fluid" src="http://placehold.it/900x300" alt="">
              <hr>
              <!-- Post Content -->
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
              <p>{{metainfo.body|safe|linebreaks}}</p>
              <hr>
              {% for k, v in metainfo.items %}
                {% if k != 'body' %}
                  <p>{{k}}: {{v}}</p>
                {% endif %}
              {% empty %}

              {% endfor %}
              <hr>

              <!-- Blog Comments -->

              <!-- Comments Form -->
              <div class="card card-body bg-light">
                  <h4 class="card-title">Leave a Comment:</h4>
                  <form role="form">
                      <div class="form-group">
                          <textarea class="form-control" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>

              <hr>

              <!-- Posted Comments -->
              <ul class="list-unstyled">

                <!-- Comment -->
                <li class="media">
                    <img class="mr-3" src="http://placehold.it/64x64" alt="">
                    <div class="media-body">
                        <h4 class="mt-0">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </li>

                <!-- Comment -->
                <li class="media">
                  <img class="mr-3" src="http://placehold.it/64x64" alt="">
                  <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media mt-3">
                            <img class="mr-3" src="http://placehold.it/64x64" alt="">
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </li>
              </ul>

          </div>

          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">

            {% include "widgets_column.html" %}

          </div>

      </div>
      <!-- /.row -->

      <hr>

      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Your Website 2014</p>
              </div>
          </div>
          <!-- /.row -->
      </footer>

  </div>
  <!-- /.container -->
  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
