{% extends "wrapper.html" %}

{% block content %}
  <h2 class="text-info">{{author.name}}</h2>
  <h6 class="text-info">Публикации:</h6>

  {% for article in articles %}
    <a href="/articles/{{article.id}}"><p>{{article}}</p></a>
  {% empty %}
    <p>Публикации не указаны</p>
  {% endfor %}

{% endblock %}
