{% extends "wrapper.html" %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <div class="form-group">
      <label>Имя</label>
      <input type="text" name="name" class="form-control" id="id_name"
       {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>
{% endblock %}
